body {
    font-family: 'Open Sans', sans-serif;
    color: #262626;
}

.tv-onboarding {
    background-color: #F9F9F9;
}

.tv-onboarding .header img {
    margin: 0 auto;
}

.tv-onboarding .header {
    padding-top: 30px;
    padding-bottom: 45px;
}

.tv-onboarding .panel {
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding-top: 60px;
    padding-bottom: 160px;
}

.tv-onboarding .panel img {
    margin: 0 auto;
}

.tv-onboarding .panel h1 {
    font-size: 26px;
}

.tv-onboarding .panel p {
    color: #A0A0A0;
    font-size: 18px;
}

.tv-onboarding .panel .btn-default {
    background: #F87F7F;
    border-radius: 4px;
    border: 0px;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 10px 25px;
    margin-top: 25px;
}
